@font-face {
    font-family: segoe;
    src: url(../fuentes/Segoe\ UI.ttf);
    font-family: segoeSemi;
    src: url(../fuentes/Segoe\ UI\ Italic.ttf);
    font-family: BellItalica;
    src: url(../fuentes/BellMTItalic.ttf);
    /* font-family: Bellbold;
    src: url(../fuentes/BellMTBold.ttf); */
}
